@using MyBlog.Models
@{
    ViewBag.Title = "About - Profinomad";
}

<section class="section-content">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-md-8">
                <article class="blog-item blog-single">
                    <div class="entry-date">
                        <span>Who am I</span>
                    </div>
                    <h1 class="post-title">
                        Get to know about me
                    </h1>
                    <div class="entry-excerpt">
                        <div class="text-center" style="font-size:16px">
                            <p>
                                My name is Marina and I am from Ukraine, Kyiv.
                                I'm a computational linguist and programmer. I speak English, Spanish, Russian and Ukrainian.
                                I love linguistics, programming, photography, sports and books. But the most important thing for me is travelling and I will be posting articles on that along with thoughts. I like taking photos. While travelling, I always have my camera with me and I end up with thousands of photos after any adventure.
                                <br>
                                I like making travel routes by myself. I have already visited many countries and will gladly share my experience with you.
                                I welcome you here, in my blog. I love communication and sharing experiences. Please, feel free to comment and tell me everything you think about my posts, this is so valuable for me to be better for you.
                            </p>
                            <br>
                            <p class="color-brand" style="font-size:18px; font-style:normal">
                                <strong>Thank you!</strong>
                            </p>
                        </div>
                        <br><br>
                        <p>
                            <img src="~/images/me.jpg" class="full-size" alt="about image">
                        </p>
                    </div>
                    <div class="seperator"><span></span></div>
                </article>
            </div>
            @Html.Partial("_SideBar")
           
        </div>
    </div>
</section>



