@using MyBlog.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home - Profinomad";
    ViewBag.Description = "Tips on how to travel the world and save on your travels!";
}
<section class="section-content">
    <div class="content-full">

        <div class="katharine-post-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide pv16" data-bg-image="../../images/pages/slider2.jpg" style="width:1920px; height:710px">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                                    <div class="blog-item-boxed">

                                        <h3 class="post-title" style="font-size:48px">
                                            WELCOME TO MY TRAVEL BLOG
                                        </h3>
                                        <p style="font-size:18px">
                                            featuring travel tips and photography from around the world
                                        </p>
                                        <a href="~/Posts/Index" class="button button-fill">Read More</a>
                                        <div class="seperator with-colored size-small"><span></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="heading text-center mv3 mvt0">
            <h6></h6>
            <br>
            <h4>START PLANNING YOUR NEXT ADVENTURE HERE</h4>
        </div>
        <div style="font-size:16px">
            <p class="text-center mh10">Maybe, you find it hard to know where to start when planning your trip. What to do first? And second? It can seem difficult to make your own trip, but having a ready plan in mind it will be easier. And I am the one to help you with this plan, so that your travelling will be simple and easy.</p>
            <p class="text-center mh10">As you can see, there are not so many articles here yet, but we are working on adding more and more content. There are different categories so that it is easier for you to find necessary information.</p>
        </div>
        <div class="seperator"><span></span></div>
        <br>
        <div class="blog-container">
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</section>


