@using MyBlog.Models

@{
    ViewBag.Title = "Travel tips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-container">
    <div class="container-fluid">
        <div class="row">
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-3 blog-item-boxed">
                <div class="entry-media">
                    <img src="~/images/img/inspiration.jpg" alt="blog image">
                    <div class="entry-overlay"></div>
                </div>
                <div class="entry-info">
                    <h3 class="post-title">
                        <a href="~/Categories/Posts/5">Get Inspired</a>
                    </h3>                   
                </div>
            </div>
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-3 blog-item-boxed">
                <div class="entry-media">
                    <img src="~/images/img/planning.jpg" alt="blog image">
                    <div class="entry-overlay"></div>
                </div>
                <div class="entry-info">
                    <h3 class="post-title">
                        <a href="~/Categories/Posts/6">Planning a trip</a>
                    </h3>                    
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 blog-item-boxed">
                <div class="entry-media">
                    <img src="~/images/img/flight.jpg" alt="blog image">
                    <div class="entry-overlay"></div>
                </div>
                <div class="entry-info">
                    <h3 class="post-title">
                        <a href="~/Categories/Posts/7">Cheap flights</a>
                    </h3>                   
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 blog-item-boxed">
                <div class="entry-media">
                    <img src="~/images/img/accomodation.jpg" alt="blog image">
                    <div class="entry-overlay"></div>
                </div>
                <div class="entry-info">
                    <h3 class="post-title">
                        <a href="~/Categories/Posts/8">Accomodation</a>
                    </h3>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="post-navigation mv10">
                    <div class="seperator with-colored size-small"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</div>